*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1100px;
  margin: 0;
  font-family: Raleway, sans-serif;
  background-color: #fff;
}

main {
  width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

address {
  display: block;
  height: 97px;
  width: 240px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.phone-number {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.phone-number:hover {
  color: blue;
  border-color: blue;
}

.email {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.email:hover {
  color: blue;
  border-color: blue;
}

.overlay {
  background-color: rgb(0 0 0/0.6);
  position: absolute;
  inset: 0;
  z-index: -1;
}